.modal {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.container-form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    height: 65%;
    background: #FFFDFD;
    border-radius: 8px;
    justify-content: center;
    padding-top: 2rem;
}

.container-close {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.container-form-modal form {
    display: flex;
    flex-direction: column;
    padding-top: 3.2rem;
    width: 80%;
    height: 88%;
}

.container-form-modal input {
    background: #FDFAFA;
    border: 1px solid #E8E8E8;
    height: 13%;
    margin-bottom: 1.7rem;
    padding-left: 1.2rem;
}

.container-form-modal button {
    border: none;
    border-radius: 8px;
    color: white;
    height: 12%;
    cursor: pointer;
    font-weight: 700;
}

.btn-add {
    background-color: #04C45C;
    margin-bottom: 0.8rem;
    margin-top: 4.5rem;
}

.btn-limpar {
    background: #FB0615A6;
}

@media(max-width:920px) {
    .container-form-modal{
        width: 80%;
    }
}